/* #region page */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #292929;
    size:16px;
    line-height: 22px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    border-bottom: 1px solid black;
}
ul{
    padding: 0;
}
/* #endregion */
/* #region header */
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 64px 120px;
    background-image: url(../img/header_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__title{
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 48px;
    line-height: 100%;
    font-weight: 800;
    font-style: italic;
    letter-spacing: -1.5px;
}
.header__top{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 750px){
    .header__bottom-img{
        display: none;
    }
    .header__top{
        padding: 0;
    }
    .header__title{
        font-size: 20px;
    }
}
@media (max-width: 650px){
    .header__top-burger{
        filter: grayscale(1) brightness(1000%);
    }
    .header__top-logo{
        margin-left: -90px;
    }
}
/* #endregion */
/* #region menu */
.menu{
    padding: 64px 120px;
    height: 100vh;
    background-color: #E5E5E5;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 500ms;
}

.menu:target{
    transform: translateX(0%);
}
.menu__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
.menu__list{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    letter-spacing: 2px;
    line-height: 22px;
    font-style: 22px;
    gap: 32px;
    font-weight: 700;
}
/* #endregion */
/* #region main */
.main{
    padding: 120px;
    background-color: white;
}
/* #endregion */
/* #region recommended */
.recommended{
    margin-bottom: 120px;
}
.recommended__title{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 64px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1.5px;
}
.recommended__products{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.product{
    flex-basis: 324px;
}
.product__photo{
    width: 100%;
    margin-bottom: 32px;
}
.product__title{
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 16px;
}
.product__category{
    margin-top: 0px;
    margin-bottom: 12px;
    font-weight: 400;
}
.product__price{
    margin: 0;
    font-weight: bold;
}
@media (max-width: 700px){
    .recommended__products{
        flex-direction: column;
    }
}
/* #endregion */
/* #region categories*/
.categories{
    max-width: 1020px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.categories__title{
    margin: 0;
    font-weight: bold;
    padding-bottom: 64px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1.5px;
}
.photo-wide{
    width: 65%;
}
.photo-qsuare{
    width: 32%;
}
.category{
    margin-bottom: 64px;
}
.categories__photos{
    display: flex;
    gap: 3%;
    margin-bottom: 16px;
}
.categories__title{
    margin: 0;
}
@media (max-width: 700px){
    .categories__photos{
        flex-direction: column;
        gap: 24px;
        justify-content: center;
    }
    .categories__photos img{
        margin: 0 auto;
        width: 100%;
    }
}
/* #endregion */
/* #region how-to-but */
.how-to-buy{
    display: flex;
    gap: 24px;
    margin: 0 auto;
    max-width: 1020px;
}
.how-to-buy__title{
    flex-basis: 50%;
    font-weight: bold;
    margin-bottom: 64px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    margin: 0;
}
.how-to-buy__content{
    flex-basis: 50%;
}
.how-to-buy__benefits{
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style:none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    font-weight: bold;
}
.how-to-buy-description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}
/* #endregion */
/* #region footer */
.footer{
    background-image: url(../img/footer_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    height: 460px;
    z-index: -1;
    bottom: 0;
}
/* #endregion */